html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-size: 20px;
}

body {
    display: grid;
    grid-template-rows: minmax(200px, 20%) 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar header"
    "sidebar main-content";
    height: 100vh;
    width: 100%;
}

svg {
    height: 1.2rem;
    width: 1.2rem;
}

.sidebar {
    grid-area: sidebar;
    color: white;
    background-color: #0095da;
    display: flex; 
    flex-direction: column;
    gap:2rem;
}

.side-header {
    font-size: 2rem;
    padding: 1rem 0 0 1.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.side-container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    gap: 0.8rem;
}

.side-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    background-color: white;
    box-shadow: grey 3px 3px 10px;
    z-index: 1;
}

.upper-header {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile-icon {
    border-radius: 50%;
}

.upper-header .profile-icon {
    height: 2rem;
}

.lower-header {
    gap: 1rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-header button:first-of-type {
    margin-left: auto;
}

.lower-header .profile-icon {
    height: 4rem;;
}

.lower-header button {
    background: #0095da;
    color: white;
    border-radius: 30px;
    height: 2rem;
    width: 4rem;
    font-weight: bold;
}

.notify-icon {
    margin-left: auto;
}

.lower-header {
    height: 60%;
}

.main-content {
    grid-area: main-content;
    background-color: #e1e9f1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "projects announcements"
    "projects trending";
}

.main-part {
    margin: 2rem;
}

#projects {
    grid-area: projects;
}

#projects .part-container {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
}

#announcements {
    grid-area: announcements;
}

#trending {
    grid-area: trending;
}